div{
    background-color: #ccc;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    float: left;
}
.box1{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
}
.box2{
    box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.301);
}
.box3{
    box-shadow: 10px 10px 0 crimson;
}
.box4{
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.404);
}
.box5{
    box-shadow: inset 0px 0px 20px white;
}
.box6{
    box-shadow: inset 0px 0px 100px black;
}