body{
    background-color: #333;
}
.heading{
    font-size: 70px;
    text-transform: uppercase;
    color: gold;    
    text-shadow: 5px 5px 10px dodgerblue, 10px 10px 10px rgba(10, 158, 184, 0.726) ;
}